@using Dentistry.ViewModels.Catalog.Articles
@using Dentistry.ViewModels.Catalog.Home
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SearchVm

<div class="container-fluid">
    <div class="container box_breadcrumb">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li>
                Tìm kiếm
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="container search-page-content py-4">
        <div class="box_title">
            Kết quả tìm kiếm
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-8 search-result-content">
                <div class="search-results">
                    @foreach (var item in Model.Items)
                    {
                        string pathImageArt = "";
                        if (item.Images.Any())
                        {
                            pathImageArt = item.Images[item.Images.Count - 1].Path;
                        }
                        <div class="search-item">
                            <img src="@pathImageArt" alt="Ảnh bài viết">
                            <div class="search-content">
                                <h3>
                                    <a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias">@item.Title</a>
                                </h3>
                                <p>@item.Description.LimitTo(200, "...")</p>
                                <div class="search-meta">
                                    <span>Chuyên mục: <a asp-action="Detail" asp-controller="Category" asp-route-alias="@item.Category?.Alias">@item.Category?.Name</a></span>
                                    <span>Ngày: @item.CreatedDate.ToString("dd/MM/yyyy")</span>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Lặp lại search-item cho nhiều bài viết -->
                </div>

                <div class="pagination-custom">
                    <a href="#" class="disabled">Trước</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">99</a>
                    <a href="#">Sau</a>
                </div>
            </div>
            <div class="col-12 col-md-4 search-hotnew flex-column d-none d-md-flex">
                <form id="search-form" asp-action="Search" asp-controller="Home" method="get" class="d-flex py-0 pb-3">
                    <input type="text" name="keyWord" id="search-input"
                           class="form-control search-input shadow" @Context.Request.Query["keyWord"]
                    placeholder="Tìm kiếm..." />
                    <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="box_title_v1 py-3">Chủ đề mới nhất</div>
                <div class="box_right_content flex-column">
                    @foreach (var item in Model.HotNews)
                    {
                        string pathImage = "";
                        if (item.Images.Any())
                        {
                            pathImage = item.Images[item.Images.Count - 1].Path;
                        }
                        <div class="item">
                            <div class="image">
                                <a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias">
                                    <img src="@pathImage" alt="@item.Title">
                                </a>
                            </div>
                            <div class="info">
                                <h2 class="title">
                                    <a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias">@item.Title.LimitTo(200, "...")</a>
                                </h2>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
