@using Dentistry.ViewModels.Enums
@using Dentistry.ViewModels.Catalog.Categories
@using Dentisty.Data
@model CategoryVm

<div class="category-detail-container">
    @* <div class="container-fluid justify-content-center image-banner p-0">
        <img src="@Model.Image?.Path" loading="lazy" />
    </div> *@

    @*
        Breadcrum
    *@
    <div class="container-fluid breadcrumb">
        <div class="container box_breadcrumb">
            <ul class="ul-breadcrumb">
                <li><a asp-controller="Home" asp-action="index">Trang chủ</a></li>
                @if (Model.Parent != null && Model.Parent.Parent != null)
                {
                    <li>
                        <a asp-controller="Category" asp-action="Detail" asp-route-alias="@Model.Parent.Parent.Alias"
                        title="@Model.Parent.Parent.Name">
                            @Model.Parent.Parent.Name
                        </a>
                    </li>
                }
                @if (Model.Parent != null)
                {
                    <li>
                        <a asp-controller="Category" asp-action="Detail" asp-route-alias="@Model.Parent.Alias"
                        title="@Model.Parent.Name">
                            @Model.Parent.Name
                        </a>
                    </li>
                }
                <li>
                    @Model.Name
                </li>
            </ul>
        </div>
    </div>

    @* Descriptin *@
    @{
        string partial = "~/Views/Category/Partials/";
        if (Model.Type == CategoryType.About)
        {
            Html.RenderPartial(partial + "_about.cshtml", Model);
        } else if (Model.Type == CategoryType.Service)
        {
            Html.RenderPartial(partial + "_services.cshtml", Model);
        } else if (Model.Type == CategoryType.Products)
        {
            Html.RenderPartial(partial + "_product.cshtml", Model);
        } else if (Model.Type == CategoryType.advise)
        {
            Html.RenderPartial(partial + "_advise.cshtml", Model);
        } else if (Model.Type == CategoryType.FeedBack)
        {
            Html.RenderPartial(partial + "_feedBack.cshtml", Model);
        } else if (Model.Type == CategoryType.News)
        {
            Html.RenderPartial(partial + "_news.cshtml", Model);
        }
        else if (Model.Type == CategoryType.Support)
        {
            Html.RenderPartial(partial + "_support.cshtml", Model);
        }
    }

</div>



@{
    if (Model.category.Type == CategoryType.About) {
        
    } else if (Model.category.Type == CategoryType.Support)
    {
        
    }
    else if (Model.category.Type == CategoryType.News
            || Model.category.Type == CategoryType.FeedBack)
    {
        
    } else {
        @* Category detail *@
        
    }
    if (Model.category.Parent == null)
    {
        if (Model.category.ChildCategories.Any())
        {
            @* Category list *@
            <div class="container-fluid p-0 pt-5 pb-5 box_categories">
                <div class="container">
                    @{
                        Html.RenderPartial("~/Views/ViewComponents/HomeCategorySlide.cshtml", @Model.category.ChildCategories.ToList());
                    }
                </div>
            </div>
        }
    }
    if (Model.articles.Count > 0)
    {
        <div class="container-fluid p-0 pb-5" style="background: #fff9ed;">
            <div class="container">
                <div class="box_title py-5"> Bài viết liên quan</div>
                <div class="box_content box_list_item">
                    <div class="row">
                        <div class="container mt-4">
                            <div class="row g-3">
                                <!-- Cột trái: Item lớn -->
                                <div class="col-lg-4 col-md-12">
                                    @{
                                        var item = Model.articles.First();
                                        var customBoxMedium = new CustomBox()
                                        {
                                            Title = item.Title,
                                            ImgPath = item.CoverImage,
                                            Description = item.Description,
                                            Link = "/bai-viet/" + item.Alias
                                        };
                                    }
                                    @Html.Partial("_viewComponentArticleLinkBoxMedium", customBoxMedium)
                                </div>

                                <!-- Cột phải: Danh sách item nhỏ -->
                                <div class="col-lg-8 col-md-12">
                                    <div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2 g-3">
                                        @foreach (var art in Model.articles.Take(7))
                                        {
                                            if (art != Model.articles.First())
                                            {
                                                var customBoxSmall = new CustomBox()
                                                {
                                                    Title = art.Title,
                                                    ImgPath = art.CoverImage,
                                                    Description = art.Description,
                                                    Link = "/bai-viet/" + art.Alias
                                                };
                                                <div class="col">
                                                    @Html.Partial("_viewComponentArticleLinkBoxSmall", customBoxSmall)
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
