@using Dentistry.ViewModels.Enums
@using Dentistry.ViewModels.Catalog.Categories
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CategoryDetailVm
<div class="container-fluid justify-content-center image-banner p-0">
    <img src="@Model.category.Image?.Path" loading="lazy" />
</div>
<div class="container-fluid">
    <div class="container box_breadcrumb">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            @if (Model.category.Parent != null) {
                <li>
                    <a asp-action="Detail" asp-asp-controller="Category"
                       asp-route-danhmuc="@Model.category.Parent.Type.GetAliasDisplayName()" asp-route-alias="@Model.category.Parent.Alias"
                       title="@Model.category.Parent.Name">
                        @Model.category.Parent.Name
                    </a>
                </li>
            }
            <li>
                @Model.category.Name
            </li>
        </ul>
    </div>
</div>
@* Category detail *@
<div class="container-fluid p-0 pt-5 pb-5">
    <div class="container main-detail">
        <h2 class="text-3xl font-semibold text-gray-800 mb-4">@Model.category.Name</h2>
        <div class="flex items-center text-gray-500 text-sm mb-4">
            <span><i class="fas fa-calendar-alt"></i> Ngày đăng: @Model.category.CreatedDate.ToString("dd/MM/yyyy")</span>
            
            @if (Model.category.Type != CategoryType.None) {
                <span class="mx-2">|</span>
                <span><i class="fas fa-tag"></i> Thể loại: @Model.category.Type.GetDisplayName()</span>
            }
            else if (Model.category.Parent != null && Model.category.Parent.Type != CategoryType.None) {
                <span class="mx-2">|</span>
                <span><i class="fas fa-tag"></i> Thể loại: @Model.category.Parent.Type.GetDisplayName()</span>
            }
        </div>
        <div class="box_article_description">
            @Html.Raw(Model.category.Decription)
        </div>
        @Html.Raw(Model.category.Decription)
    </div>
</div>
@* Category list *@
@{
    if (Model.category.ChildCategories.Any())
    {
        <div class="container-fluid p-0 pt-5 pb-5 box_categories">
            <div class="container">
                @{
                    Html.RenderPartial("~/Views/ViewComponents/HomeCategory.cshtml", @Model.category.ChildCategories.ToList());
                }
            </div>
        </div>

    }
}
@* Bài viết liên quan *@
@{
    if (Model.articles.Count > 0) {
        <div class="container-fluid p-0 pb-5" style="background: #fbfbfb;">
    <div class="container">
        <div class="box_title py-5"> Bài viết liên quan</div>
        <div class="box_content box_list_item">
            <div class="row">
                @foreach (var item in Model.articles)
                {
                    var type = item.Type.GetAliasDisplayName();
                    var imgPath = item.Images.Any() ? item.Images[item.Images.Count - 1].Path : "";
                    <div class="col-sm-3 col-6">
                        <div class="item pt-5">
                            <div class="image" style="background-image: url('@imgPath'), url('../assets/img/no-image.jpg')">
                                <a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias"
                                    title="@item.Title">
                                    <span>Xem thêm</span>
                                </a>
                            </div>
                            <div class="info pt-5">
                                <h3 class="title">
                                    <a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias"
                                       title="@item.Title">
                                       @item.Title.LimitTo(50, "...")
                                    </a>
                                </h3>
                                <div class="desc">@item.Description.LimitTo(200, "...")</div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
    }
}