@using Dentistry.ViewModels.Catalog.Contacts
@model ContactVmList

<div class="container-fluid p-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Tin nhắn</h2>
    </div>

    <div class="table-responsive">
        <table id="contactActiveTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Ngày gửi</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Rows -->
                @foreach (var item in Model.ContactActives)
                {
                    <tr>
                        <td class="align-middle">@item.Name</td>
                        <td class="align-middle">@item.PhoneNumber</td>
                        <td class="align-middle">@item.Email</td>
                        <td class="align-middle">@item.CreatedDate</td>
                        <td class="align-middle">
                            <button class="btn btn-sm btn-warning contact-edit-btn" onclick="process(@item.Id)">Duyệt</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid p-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Đã xử lý</h2>
    </div>

    <div class="table-responsive">
        <table id="contactInActiveTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Ngày gửi</th>
                    <th>Người xử lý</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Rows -->
                @foreach (var item in Model.ContactInActives)
                {
                    <tr>
                        <td class="align-middle">@item.Name</td>
                        <td class="align-middle">@item.PhoneNumber</td>
                        <td class="align-middle">@item.Email</td>
                        <td class="align-middle">@item.CreatedDate</td>
                        <td class="align-middle">@item.ProcessBy?.DisplayName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/contact.js"></script>