<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="author" content="Nha Khoa Nhiên" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Context.Request.Host@Context.Request.Path" />
    <link rel="icon" type="image/x-icon" href="~/logo.ico" />

    @* Css Lib *@
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar-mega.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/carousel-01/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/plugins/carousel-01/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/plugins/carousel-01/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Tempus Dominus (DateTimePicker) CSS -->
    <link href="~/lib/datepicker/tempus-dominus.min.css" rel="stylesheet" />
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    @* Script Lib *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWMV5QHJ');</script>
    <!-- End Google Tag Manager -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>
        // var hostAdmin = "https://localhost:7226/signalRHub"
        // var hostAdmin = "https://nhienadmin.quynhvpit.io.vn/signalRHub"
        // var hostAdmin = "https://admin.annhienmedical.vn/signalRHub"
        var hostAdmin = @HostingConfig.Value.WebHost + "/signalRHub"
        const connection = new signalR.HubConnectionBuilder()
            .withUrl(hostAdmin) // URL của Admin
            .build();

        connection.start().catch(err => console.error("signalR Error = " + err.toString()));

        connection.on("InvalidateCache", function () {
            console.log("Cache đã bị xóa do dữ liệu thay đổi!");
            location.reload(); // Tải lại trang để cập nhật dữ liệu mới
        });
    </script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWMV5QHJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @await Component.InvokeAsync("AppToolbarTop")
    @await Component.InvokeAsync("AppMenu")    
    <div class="container-main">
        <main role="main" class="m-0 p-0">
            @RenderBody()
        </main>
    </div>


    
    @await Component.InvokeAsync("AppContact")
    @await Component.InvokeAsync("AppFooter")
    @await Component.InvokeAsync("OnLoadPageModal")

    @* Script Lib *@
    <button id="backToTop" class="e-hidden" title="Lên đầu trang">
        <i class="fas fa-arrow-up"></i>
    </button>
    <script src="~/plugins/carousel-01/js/owl.carousel.min.js"></script>
    <script src="~/plugins/carousel-01/js/main.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Tempus Dominus (DateTimePicker) JS -->
    <script src="~/lib/datepicker/popper.min.js"></script>
    <script src="~/lib/datepicker/tempus-dominus.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
