@using Dentistry.ViewModels.Catalog.AppSettings
@model AppFooter

<footer class="footer">
    <div class="container">
        <div class="row content">
            <!-- Logo -->
            <div class="col-12 col-md-4 order-1 order-md-0 mb-3 mb-md-0 d-flex justify-content-center align-items-center">
                <a href="/" class="footer__logo">
                    <img src="~/assets/logo/LOGO NHIÊN DENTAL CLINIC DONE-01.jpg" loading="lazy" alt="Logo">
                </a>
            </div>

            <!-- Navigation -->
            <div class="col-12 col-md-8 order-2">
                <div class="row footer__nav">
                    <div class="col-md-4 p-3 footer_hotline">
                        <h5 class="mb-3 footer_title">Hotline</h5>
                        <ul>
                            <li> <span><a href="tel:@Model.setting.HotlineHaNoi">Hà Nội: @Model.setting.HotlineHaNoi</a></span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 p-3 footer_address">
                        <h5 class="mb-3 footer_title">Hệ Thống Nha Khoa</h5>
                        <ul>
                            @foreach (var item in Model.branches)
                            {
                                <li class="branches">
                                    <span>@item.Name</span>
                                </li>
                                <li class="branches-address">
                                    Địa chỉ: <span>@item.Address</span>
                                </li>
                                <li class="branches-phone">
                                    Điện thoại: <span>@item.PhoneNumber</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-4 p-3 footer_follow">
                        <h5 class="mb-3 footer_title">Follow us</h5>
                        <div class="social-icons">
                            @if (!string.IsNullOrEmpty(Model.setting.Instagram))
                            {
                                <a href="@Model.setting.Instagram" class="social-icon instagram" target="_blank" aria-label="Instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.setting.Facebook)) {
                                <a href="@Model.setting.Facebook" class="social-icon facebook" target="_blank" aria-label="Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.setting.Twitter)) {
                                <a href="@Model.setting.Twitter" target="_blank" aria-label="Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.setting.Youtube)) {
                                <a href="@Model.setting.Youtube" class="social-icon youtube" target="_blank" aria-label="Youtube">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Footer Bottom -->
    <div class="footer__bottom">
        <p class="m-0">Copyright © Nhien Dentistry 2024. All rights reserved.</p>
    </div>
</footer>
@{
    if (!string.IsNullOrEmpty(Model.setting.ZaloHotline))
    {
        <a href="https://zalo.me/@Model.setting.ZaloHotline" class="zalo-chat" target="_blank">
            <img src="/assets/img/zalo.svg" alt="Chat Zalo">
        </a>
    }
}