@using Dentistry.ViewModels.Catalog.Categories
@model List<CategoryVm>

<div class="container">
    <h1 class="actor-list-header section-title text-center actor-item">Dịch Vụ Thẩm Mỹ</h1>
    <div class="section-sub">
        Nhiên tập trung cung cấp các dịch vụ nha khoa thẩm mỹ trong môi trường nhẹ nhàng, chu đáo, chuyên nghiệp. Đảm bảo mọi khách hàng tới Win Smile đều có những trải nhiệm nha khoa đẳng cấp, ưng ý nhất cho đường cười của chính mình.
    </div>
    <div class="container">
        <div class="row actor-list justify-content-center">
            <!-- Actor 1 -->
            @foreach (var item in Model)
            {
                <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                    <div class="image">
                        <a asp-controller="Category" asp-action="DichVu" asp-route-alias="@item.Alias">
                            <img src="@item.Image.Path" alt="@item.Name" class="actor-image">
                        </a>
                    </div>
                    <div class="info">
                        <h3 class="title">
                            <a asp-controller="Category" asp-action="DichVu" asp-route-alias="@item.Alias" title="Dán sứ Veneer Emax">
                                @item.Name
                            </a>
                        </h3>
                    </div>
                </div>
            }
            
            @* <!-- Actor 2 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 2" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div>
            <!-- Actor 3 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 3" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div>
            <!-- Actor 4 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 4" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div>
            <!-- Actor 5 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 5" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div>
            <!-- Actor 6 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 6" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div>
            <!-- Actor 7 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 7" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div>
            <!-- Actor 8 -->
            <div class="col-6 col-sm-4 col-md-3 text-center actor-item">
                <div class="image">
                    <a href="#">
                        <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 8" class="actor-image">
                    </a>
                </div>
                <div class="info">
                    <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
                </div>
            </div> *@
        </div>
    </div>
</div>
