@using Dentistry.Common
@using Dentistry.ViewModels.Catalog.Articles
@using Dentistry.ViewModels.Enums
@using Dentistry.Common;
@using Dentisty.Web.Services
@inject ApplicationService _applicationService
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ArticleVm>
@{
    var setting = await _applicationService.GetAppSetting();
    if(Model != null && Model.Any())
    {
        <div class="section section-feedback">
            <div class="container">
                <div class="box_title">
                    @setting.FeedbackListTitle
                </div>
                <div class="box_desc"></div>
                <div class="box_content box_list_item">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            var imgPath = item.CoverImage;
                            
                            <div class="col-sm-4 col-6">
                                <div class="item pt-5">
                                    <div class="image" style="background: url('@imgPath') no-repeat; background-size: cover;">
                                        <a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias" title="@item.Title">
                                            <span>Xem thêm</span>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="title"><a asp-action="Articles" asp-controller="Article" asp-route-alias="@item.Alias" title="@item.Title">@item.Title.LimitTo(50, "...")</a></h3>
                                        <div class="desc">@item.Description.LimitTo(200, "...")</div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                @if (Model[0].Category != null)
                {
                    <div class="control d-flex justify-content-center"><a asp-controller="Category" asp-action="Detail" asp-route-danhmuc="@Model[0].Category.Type.GetAliasDisplayName()" asp-route-alias="@Model[0].Category.Alias" class="btn_yellow">Xem tất cả</a></div>
                }
            </div>
        </div>
    }
    if (Model != null && Model.Any())
    {
        <div class="container-fluid p-0 pb-5" style="background: #fff9ed;">
            <div class="container">
                <div class="box_title py-5"> Bài viết liên quan</div>
                <div class="box_content box_list_item">
                    <div class="row">
                        <div class="container mt-4">
                            <div class="row g-3">
                                <!-- Cột trái: Item lớn -->
                                <div class="col-lg-4 col-md-12">
                                    @{
                                        var item = Model.First();
                                        var customBoxMedium = new CustomBox()
                                        {
                                            Title = item.Title,
                                            ImgPath = item.CoverImage,
                                            Description = item.Description,
                                            Link = "/bai-viet/" + item.Alias
                                        };
                                    }
                                    @Html.Partial("_viewComponentArticleLinkBoxMedium", customBoxMedium)
                                </div>

                                <!-- Cột phải: Danh sách item nhỏ -->
                                <div class="col-lg-8 col-md-12">
                                    <div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2 g-3">
                                        @foreach (var art in Model.Take(7))
                                        {
                                            if (art != Model.First())
                                            {
                                                var customBoxSmall = new CustomBox()
                                                {
                                                    Title = art.Title,
                                                    ImgPath = art.CoverImage,
                                                    Description = art.Description,
                                                    Link = "/bai-viet/" + art.Alias
                                                };
                                                <div class="col">
                                                    @Html.Partial("_viewComponentArticleLinkBoxSmall", customBoxSmall)
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}