@using Dentistry.ViewModels.Catalog.Doctors
@model List<DoctorVm>
@{
    while (Model.Count > 0 && Model.Count < 6)
    {
        Model.AddRange(Model);
    }
}

<div class="container">
    <h2 class="title">
        <a href="javascript:void()" title="Chuyên gia/Bác sĩ">ĐỘI NGŨ CHUYÊN GIA &amp; BÁC SĨ Nha Khoa Nhiên</a>
    </h2>
    <p class="doctor-dec">Nhiên Nha Khoa khao khát xây dựng đội ngũ nhân viên, y bác sĩ phục vụ tận tâm, trách nhiệm đảm bảo yếu tố an toàn và chuyên nghiệp trong từng dịch vụ</p>
</div>

<div class="container-fluid p-0 mt-5">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">
        <!-- Chỉ báo (DOT) -->
        <ol class="carousel-indicators">
            @foreach (var (item, index) in Model.Select((item, index) => (item, index)))
            {
                var activeDot = index == 0 ? "active" : "";
                <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="@index" class="@activeDot"></li>
            }


        </ol>
        <!-- Nội dung các slide -->
        <div class="carousel-inner">
            @foreach (var (item, index) in Model.Select((item, index) => (item, index)))
            {
                var activeInner = index == 0 ? "active" : "";
                <div class="carousel-item @activeInner" style="background-image: url('');">
                    <div class="carousel-content container">
                        <!-- Phần ảnh -->
                        <div class="carousel-image">
                            <a asp-action="Detail" asp-controller="Doctor" asp-route-alias="@item.Alias">
                                <img src="@item.Avatar.Path" loading="lazy" alt="@item.Name">
                            </a>
                        </div>
                        <!-- Phần text -->
                        <div class="carousel-text">
                            <h5>@item.Name</h5>
                            <h6>@item.Position</h6>
                            <div class="carousel-text-description">
                                <p>@item.Description.LimitTo(400, "...")</p>
                            </div>

                            <a asp-action="Detail" asp-controller="Doctor" asp-route-alias="@item.Alias" class="btn_yellow">Xem thêm</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <!-- Danh sách bài viết -->
    <div class="container slider">
        @foreach (var (item, index) in Model.Select((item, index) => (item, index)))
        {
            var activeSlider = index == 0 ? "active" : "";
            <div class="slide-item slide-item-@index @activeSlider">
                <div class="slide-item-content">
                    <img src="@item.Avatar.Path" loading="lazy" alt="@item.Name">
                    <div class="slide-item-footer">
                        <div class="title">@item.Name</div>
                        <div class="sub-title">@item.Position</div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>

<script src="~/js/home-slide-doctor.js"></script>






