@using Dentistry.ViewModels.Catalog.AppSettings
@model AppSettingDataVm

<style>
    #app-setting-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }
</style>
<div id="app-setting-form" class="container-fluid mt-4">
    <!-- Name hiển thị và căn giữa -->
    <h3 class="text-center mb-4">@Model.Setting.Name</h3>

    <!-- Form cập nhật -->
    <form id="updateForm" asp-action="UpdateSetting" asp-controller="AppSetting" method="post" class="row g-3">
        <input asp-for="@Model.Setting.Id" type="hidden" />
        <!-- Hotline Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Hotline</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.HotlineHaNoi" class="form-label">Hotline Hà Nội</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.HotlineHaNoi">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.ZaloHotline" class="form-label">Zalo</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.ZaloHotline">
                    </div>
                </div>
            </div>
        </div>

        <!-- Work Time Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Giờ làm việc</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.StartWork" class="form-label">Giờ mở cửa</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.StartWork">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.EndWork" class="form-label">Giờ đóng cửa</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.EndWork">
                    </div>
                </div>
            </div>
        </div>

        <!-- Social Group -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">Mạng xã hội</div>
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.Facebook" class="form-label">Facebook</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.Facebook">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.Instagram" class="form-label">Instagram</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.Instagram">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.Twitter" class="form-label">Twitter</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.Twitter">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.Youtube" class="form-label">Youtube</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.Youtube">
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Setting.Tiktok" class="form-label">TikTok</label>
                        <input type="text" class="form-control" asp-for="@Model.Setting.Tiktok">
                    </div>
                </div>
            </div>
        </div>

        @* Liên hệ *@
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowContactList">
                            <label class="form-check-label" asp-for="@Model.Setting.ShowContactList">Đăng ký liên hệ</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Danh mục dịch vụ *@
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <div id="setting-category-header" class="form-check form-switch">
                            <input type="hidden" asp-for="@Model.Setting.Categories" id="categoryIdsInput">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowCategoryList" id="setting_show_category">
                            <label class="form-check-label" asp-for="@Model.Setting.ShowCategoryList">Danh mục nổi bật</label>
                        </div>
                    </div>
                </div>
                @{
                    string categoryDisplay = Model.Setting.ShowCategoryList ? "block" : "none";
                    <div class="card-body row g-3 setting-category-body" style="display: @categoryDisplay">
                        <div class="col-12">
                            <label asp-for="@Model.Setting.CategoryListTitle" class="form-label">Tiêu đề</label>
                            <input type="text" class="form-control" asp-for="@Model.Setting.CategoryListTitle">
                        </div>
                        <div class="col-12">
                            <label asp-for="@Model.Setting.CategoryListSubTitle" class="form-label">Tiêu đề phụ</label>
                            <input type="text" class="form-control" asp-for="@Model.Setting.CategoryListSubTitle">
                        </div>
                        <!-- Table -->
                        <table id="categoryTableList" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="setting-category-cell-checkbox">Chọn</th>
                                    <th>Tên danh mục</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model.Categories)
                                {
                                    <tr>
                                        <td class="setting-category-cell-checkbox">
                                            @if (Model.Setting.Categories.Split(',').Contains(category.Id.ToString())) {
                                                <input type="checkbox" class="category-checkbox" data-checkbox="@category.Id" value="@category.Id" checked>
                                            } else {                                             
                                                <input type="checkbox" class="category-checkbox" data-checkbox="@category.Id" value="@category.Id">
                                            }

                                        </td>
                                        <td>@category.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        @* Danh mục Sản phẩm *@
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <div id="setting-categoryProduct-header" class="form-check form-switch">
                            <input type="hidden" asp-for="@Model.Setting.CategoryProducts" id="categoryProductIdsInput">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowCategoryProductList" id="setting_show_categoryProduct">
                            <label class="form-check-label" asp-for="@Model.Setting.ShowCategoryProductList">Danh mục Sản phẩm nổi bật</label>
                        </div>
                    </div>
                </div>
                @{
                    string categoryProductDisplay = Model.Setting.ShowCategoryProductList ? "block" : "none";
                    <div class="card-body row g-3 setting-categoryProduct-body" style="display: @categoryProductDisplay">
                        <div class="col-12">
                            <label asp-for="@Model.Setting.CategoryListProductTitle" class="form-label">Tiêu đề</label>
                            <input type="text" class="form-control" asp-for="@Model.Setting.CategoryListProductTitle">
                        </div>
                        <div class="col-12">
                            <label asp-for="@Model.Setting.CategoryListProductSubTitle" class="form-label">Tiêu đề phụ</label>
                            <input type="text" class="form-control" asp-for="@Model.Setting.CategoryListProductSubTitle">
                        </div>
                        <!-- Table -->
                        <table id="categoryProductTableList" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="setting-categoryProduct-cell-checkbox">Chọn</th>
                                    <th>Tên danh mục</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model.CategoryProducts)
                                {
                                    <tr>
                                        <td class="setting-categoryProduct-cell-checkbox">
                                            @if (Model.Setting.CategoryProducts.Split(',').Contains(category.Id.ToString()))
                                            {
                                                <input type="checkbox" class="categoryProduct-checkbox" data-checkbox="@category.Id" value="@category.Id" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="categoryProduct-checkbox" data-checkbox="@category.Id" value="@category.Id">
                                            }

                                        </td>
                                        <td>@category.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>


        @* Bác sĩ *@
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <div id="setting-doctor-header" class="form-check form-switch">
                            <input type="hidden" asp-for="@Model.Setting.Doctors" id="doctorIdsInput">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowDoctorSlideList" id="setting_show_doctor">
                            <label class="form-check-label" asp-for="@Model.Setting.ShowDoctorSlideList">Slide bác sĩ</label>
                        </div>
                    </div>
                </div>
                @{
                    string doctorDisplay = Model.Setting.ShowDoctorSlideList ? "block" : "none";
                    <div class="card-body row g-3 setting-doctor-body" style="display: @doctorDisplay">
                        <!-- Table -->
                        <table id="doctorTableList" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="setting-doctor-cell-checkbox">Chọn</th>
                                    <th>Tên bác sĩ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doctor in Model.Doctors)
                                {
                                    <tr>
                                        <td class="setting-doctor-cell-checkbox">
                                            @if (Model.Setting.Doctors.Split(',').Contains(doctor.Id.ToString()))
                                            {
                                                <input type="checkbox" class="doctor-checkbox" data-checkbox="@doctor.Id" value="@doctor.Id" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="doctor-checkbox" data-checkbox="@doctor.Id" value="@doctor.Id">
                                            }

                                        </td>
                                        <td>@doctor.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>

        @* Bài viết nổi bật *@
        @{
            // string articleDisplay = Model.Setting.ShowArtileSlideList ? "block" : "none";
            // <div class="col-12">
            //     <div class="card">
            //         <div class="card-header">
            //             <div class="col-12">
            //                 <div id="setting-article-header" class="form-check form-switch">
            //                     <input type="hidden" asp-for="@Model.Setting.Articles" id="articleIdsInput">
            //                     <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowArtileSlideList" id="setting_show_article">
            //                     <label class="form-check-label" asp-for="@Model.Setting.ShowArtileSlideList">Slide bài viết nổi bật</label>
            //                 </div>
            //             </div>
            //         </div> 
            //         <div class="card-body row g-3 setting-article-body" style="display: @articleDisplay">
            //             <!-- Table -->
            //             <table id="articleTableList" class="table table-striped table-hover table-bordered">
            //                 <thead>
            //                     <tr>
            //                         <th class="setting-article-cell-checkbox">Chọn</th>
            //                         <th class="setting-actor-cell">Người viết</th>
            //                         <th>Tên bài viết</th>
            //                     </tr>
            //                 </thead>
            //                 <tbody>
            //                     @foreach (var article in Model.Articles)
            //                     {
            //                         <tr>
            //                             <td class="setting-article-cell-checkbox">
            //                                 @if (Model.Setting.Articles.Split(',').Contains(article.Id.ToString()))
            //                                 {
            //                                     <input type="checkbox" class="article-checkbox" data-checkbox="@article.Id" value="@article.Id" checked>
            //                                 }
            //                                 else
            //                                 {
            //                                     <input type="checkbox" class="article-checkbox" data-checkbox="@article.Id" value="@article.Id">
            //                                 }

            //                             </td>
            //                             <td class="setting-actor-cell">@article.CreatedBy.DisplayName</td>
            //                             <td>@article.Title</td>
            //                         </tr>
            //                     }
            //                 </tbody>
            //             </table>
            //         </div>
            //     </div>
            // </div>
        }
        @* Tin tức nổi bật *@
        @{
            // string newsDisplay = Model.Setting.ShowNewsList ? "block" : "none";
            // <div class="col-12">
            //     <div class="card">
            //         <div class="card-header">
            //             <div class="col-12">
            //                 <div id="setting-news-header" class="form-check form-switch">
            //                     <input type="hidden" asp-for="@Model.Setting.News" id="newsIdsInput">
            //                     <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowNewsList" id="setting_show_news">
            //                     <label class="form-check-label" asp-for="@Model.Setting.ShowNewsList">Tin tức nổi bật</label>
            //                 </div>
            //             </div>
            //         </div>
                
            //         <div class="card-body row g-3 setting-news-body" style="display: @newsDisplay">
            //                 <!-- Table -->
            //                 <table id="newsTableList" class="table table-striped table-hover table-bordered">
            //                     <thead>
            //                         <tr>
            //                             <th class="setting-news-cell-checkbox">Chọn</th>
            //                             <th class="setting-actor-cell">Người viết</th>
            //                             <th>Tin tức</th>
            //                         </tr>
            //                     </thead>
            //                     <tbody>
            //                         @foreach (var news in Model.News)
            //                         {
            //                             <tr>
            //                                 <td class="setting-news-cell-checkbox">
            //                                     @if (Model.Setting.News.Split(',').Contains(news.Id.ToString()))
            //                                     {
            //                                         <input type="checkbox" class="news-checkbox" data-checkbox="@news.Id" value="@news.Id" checked>
            //                                     }
            //                                     else
            //                                     {
            //                                         <input type="checkbox" class="news-checkbox" data-checkbox="@news.Id" value="@news.Id">
            //                                     }

            //                                 </td>
            //                                 <td class="setting-actor-cell">@news.CreatedBy.DisplayName</td>
            //                                 <td>@news.Title</td>
            //                             </tr>
            //                         }
            //                     </tbody>
            //                 </table>
            //             </div>
                
            //     </div>
            // </div>
        }
        @* Sản phẩm *@
        @{
            // string productDisplay = Model.Setting.ShowProductList ? "block" : "none";
            // <div class="col-12">
            //     <div class="card">
            //         <div class="card-header">
            //             <div class="col-12">
            //                 <div id="setting-product-header" class="form-check form-switch">
            //                     <input type="hidden" asp-for="@Model.Setting.Products" id="productIdsInput">
            //                     <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowProductList" id="setting_show_product">
            //                     <label class="form-check-label" asp-for="@Model.Setting.ShowProductList">Sản phẩm</label>
            //                 </div>
            //             </div>
            //         </div>

            //         <div class="card-body row g-3 setting-product-body" style="display: @productDisplay">
            //                 <!-- Table -->
            //                 <table id="productTableList" class="table table-striped table-hover table-bordered">
            //                     <thead>
            //                         <tr>
            //                             <th class="setting-product-cell-checkbox">Chọn</th>
            //                             <th class="setting-actor-cell">Người viết</th>
            //                             <th>Tin tức</th>
            //                         </tr>
            //                     </thead>
            //                     <tbody>
            //                         @foreach (var product in Model.Products)
            //                         {
            //                             <tr>
            //                                 <td class="setting-product-cell-checkbox">
            //                                     @if (Model.Setting.Products.Split(',').Contains(product.Id.ToString()))
            //                                     {
            //                                         <input type="checkbox" class="product-checkbox" data-checkbox="@product.Id" value="@product.Id" checked>
            //                                     }
            //                                     else
            //                                     {
            //                                         <input type="checkbox" class="product-checkbox" data-checkbox="@product.Id" value="@product.Id">
            //                                     }

            //                                 </td>
            //                                 <td class="setting-actor-cell">@product.CreatedBy.DisplayName</td>
            //                                 <td>@product.Title</td>
            //                             </tr>
            //                         }
            //                     </tbody>
            //                 </table>
            //             </div>
           
            //     </div>
            // </div>
        }

        @* Phản hồi *@
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input type="hidden" asp-for="@Model.Setting.Feedbacks" id="feedbackIdsInput">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.Setting.ShowFeedbackList" id="setting_show_feedback">
                            <label class="form-check-label" asp-for="@Model.Setting.ShowFeedbackList">Phản hồi khách hàng</label>
                        </div>
                    </div>
                </div>
                @{
                    string feedBackDisplay = Model.Setting.ShowFeedbackList ? "block" : "none";
                    <div class="card-body row g-3 setting-feedback-body" style="display: @feedBackDisplay">
                        <!-- Table -->
                        <table id="feedbackTableList" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="setting-feedback-cell-checkbox">Chọn</th>
                                    <th>Tin tức</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var feedback in Model.FeedBacks)
                                {
                                    <tr>
                                        <td class="setting-feedback-cell-checkbox">
                                            @if (Model.Setting.Feedbacks.Split(',').Contains(feedback.Id.ToString()))
                                            {
                                                <input type="checkbox" class="feedback-checkbox" data-checkbox="@feedback.Id" value="@feedback.Id" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="feedback-checkbox" data-checkbox="@feedback.Id" value="@feedback.Id">
                                            }

                                        </td>
                                        <td>@feedback.Title</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>


        <!-- Submit Button -->
        <div class="col-12 text-center sticky-footer">
            <button type="submit" form="updateForm" id="btn-setting-update" class="btn btn-primary shadow">Cập nhật</button>
        </div>
    </form>
</div>


<script src="~/js/app-setting.js"></script>