@using Dentistry.ViewModels.Catalog.Categories
@using Dentistry.ViewModels.Enums
@model CategoryVmAddEdit
@{
    Layout = null;
}
<div class="modal-header">
    @{
        string sunf = Model.item.Name;
        if (Model.item.Id == 0)
        {
            <h5 class="modal-title">Thêm mới</h5>
        }
        else
        {
            <h5 class="modal-title">Cập nhật "@sunf"</h5>
        }
    }
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="add-edit-category p-3">
        <form id="addEditCategoryForm" asp-action="AddEdit" asp-controller="Category" enctype="multipart/form-data" method="post">
                <input type="hidden" asp-for="@Model.item.Id" />
                <input type="hidden" asp-for="@Model.item.IsParent" />
                <input type="hidden" asp-for="@Model.item.ParentId" />
                <input type="hidden" asp-for="@Model.item.Level" />
                <input type="hidden" asp-for="@Model.item.IsActive" />
                <div class="form-group">
                    <label asp-for="@Model.item.Name" class="form-label">Tên</label>
                    <input type="text" class="form-control ps-2" asp-for="@Model.item.Name" />
                    <span asp-validation-for="@Model.item.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.item.Alias" class="form-label">Tên rút gọn</label>
                    <input type="text" class="form-control ps-2" asp-for="@Model.item.Alias"/>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.item.Sort" class="form-label">Thứ tự</label>
                    <input type="number" class="form-control ps-2" asp-for="@Model.item.Sort" />
                </div>

                @{
                    if (Model.item.Level == CategoryLevel.Level1) {
                        <div class="form-group">
                            <label asp-for="@Model.item.Type" class="form-label">Loại danh mục</label>
                            <select asp-for="@Model.item.Type" asp-items="@Model.CategoryType" class="form-control">
                            </select>
                            <span asp-validation-for="@Model.item.Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.item.Position" class="form-label">Vị trí</label>
                            <select asp-for="@Model.item.Position" asp-items="@Model.CategoryPositions" class="form-control">

                            </select>
                        </div>
                    }
                }
                @if(Model.item.Parent != null)
                {
                    <div class="form-group">
                        <label class="form-label">Danh mục cha</label>
                        <input type="text" class="form-control ps-2" value="@Model.item.Parent.Name" readonly/>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="item.ImageFile">Upload Image</label>
                    <input asp-for="item.ImageFile" type="file" class="form-control ps-2" accept="image/*" />

                </div>
                @{
                    if (string.IsNullOrEmpty(Model.item.Image?.Path))
                    {
                        <div id="preview-container" style="display: none">
                            <label>Image Preview:</label>
                            <img id="imagePreview" src="@Model.item.Image?.Path" alt="Current Image" class="mt-2" style="max-height: 100px;" />
                        </div>
                    }
                    else
                    {
                        <div id="preview-container" style="display: block">
                            <label class="me-2">Image Preview:</label>
                            <img id="imagePreview" src="@Model.item.Image?.Path" alt="Current Image" class="mt-2" style="max-height: 100px;" />
                        </div>
                    }
                }

                <div class="form-group">
                    <label asp-for="@Model.item.Description" class="form-label">Nội dung</label>
                    <textarea asp-for="@Model.item.Description" id="Cat_Item_Description"></textarea>
                </div>
            </form>
    </div>
</div>
<div class="modal-footer  d-flex justify-content-center">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button type="submit" form="addEditCategoryForm" class="btn btn-primary">Lưu</button>    
</div>
<script>
    $(document).ready(function () {
        document.getElementById('item_ImageFile').addEventListener('change', function (event) {
            const file = event.target.files[0]; // Lấy file đầu tiên từ input
            const previewContainer = document.getElementById("preview-container");
            const imagePreview = document.getElementById("imagePreview");
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // Gán đường dẫn ảnh vào thẻ <img>
                    imagePreview.src = e.target.result;
                    previewContainer.style.display = "block"; // Hiện ảnh
                };
                reader.readAsDataURL(file); // Đọc file dưới dạng URL
            } else {
                previewContainer.style.display = "none"; // Ẩn ảnh nếu không có file
            }
        });
    })
</script>